.box {
  background: white;
  border-radius: 10px;
  margin-bottom: 15px;
}

.box__header {
  border-bottom: 1px dashed #e7e1d6;
  padding: 16px;
  font-weight: bold;
  color: $pink;
  font-size: 12px;
}
.box__content {
  padding: 16px;
  color: $grey;
  font-size: 10px;
  p {
    margin: 0px;
  }
}
