.links-list {
  padding: 0;
  margin: 0;
}

.links-list__item {
  list-style-type: none;
  padding: 0 0 10px 16px;
  margin: 0;
  background: url('links-list__item.png') no-repeat left top;
}

.links-list__item:last-child {
  padding-bottom: 0;
}
